/* Global Styles */
* {
  font-family: "Titan One", cursive;
}

h1 {
  color: #caf3fd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

/* Body Styles */
body {
  background: #212534;
  margin: 0;
}

/* Header Styles */
header {
  color: white;
  padding: 10px;
  border-bottom: #58C7FA solid 1px;
}

header p {
  padding-left: 10px;
}

/* Container Styles */
.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* Button Styles */
button {
  border: none;
}

.buttonAnimation {
  background-color: #212534;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 50px;
  margin: 1rem;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: #ccc;
  font-family: "Gloria Hallelujah", cursive;
}

.buttonAnimation:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 0.8s;
  border: #58C7FA solid 1px;
}

.buttonAnimation:hover:before,
.buttonAnimation:hover:after {
  animation: none;
  opacity: 0;
}

.buttonAnimation::before {
  content: "";
  width: 106%;
  height: 126%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -13%;
  left: -3%;
  animation: spin 2.5s linear infinite;
}

.buttonAnimation::after {
  position: absolute;
  content: "";
  top: calc(50px / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(50px / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* Joke Section Styles */
.joke {
  width: 65vw;
  text-align: center;
}

.joke a {
  background-color: #212534;
  text-decoration: none;
  padding: 0 10px;
}

.joke p {
  color: #5ddcff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Footer Styles */
footer {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: small;
  border-top: #58C7FA solid 1px;
}
