<%- include('partials/header') %>

  <div class="container">
    <h1> Choose a category and laugh your head off🤣.</h1>
    <% categoriesList.forEach(function(category) { %>
      <form action="/submit" method="post">
          <input type="hidden" name="category" value="<%= category %>">
          <button class="buttonAnimation" type="submit"><%= category %></button>
        </form>
    <% }) %>
  </div>
  
<%- include('partials/footer') %>