<%- include("header") -%>

<div class="aboutDiv">
    <h2>About</h2>
    <p>Hi there! My name is Nooha. Welcome to my personal To-do List website! 
        I decided to create a to-do list Website as I am someone who has always been fascinated by the power of organization and productivity. 
        I created this website to address a common challenge we all face for managing our tasks efficiently.
        </p>
    </div>
    <div class="aboutDiv">
    <h3>Why This Website?</h3>
    <p>It's always necessary to decide the tasks to-do for successfully accomplishing any goals!  
        This website is designed with simplicity in mind. It reflects my personal preferences for minimalistic design and user-friendly interfaces. 
        I use it myself to organize my tasks, and I hope you find it as helpful as I do!</p>
        <div class="aboutDiv">
    <h3>Get in Touch</h3>
    <p>I'd love to hear your thoughts and suggestions on improving this website. 
        Since it's a personal project, your feedback can play a crucial role in its evolution. 
        Feel free to connect with me.</p>
    </div>
</div>

<%- include("footer") -%>