</main>
<footer>
  <ul class="menu">
    <li><a href="/">HomePage</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="https://www.linkedin.com/in/noohaa/">Contact</a></li>
  </ul>
  <p class="copyright"> Copyright © 2023 Nooha. All rights reserved.</p>
</footer>
</body>
</html>