<%- include("header") %>

<style>
  .navbar{
    background-color: #fff;
  }
  .nav{
        display: none;
  }
.navbar-logo{
  padding: 15px;
  color: #A683E3;
}
</style>

<div id="frontPageGreeting">
  <h1>Welcome to To-do List App!</h3>
  <p id="frontPagePara"> Your ultimate tool for staying organized and productive</p>
  <a href="/categories" id="getStartedButton">Get Started</a>
</div>

<section class="content">
  <p class="quote">“The secret of getting ahead is getting started. The secret of getting started 
    is breaking your complex overwhelming tasks into small manageable tasks, and starting on the 
    first one.”<br><span class="quote-author">- Mark Twain</span></p>        
          
  <div class="flex">
    <div class="flex-box">
      <h3>Features</h3>
      <hr>
      <p class="flex-p">Discover our range of features that help you manage tasks, set priorities, 
        and achieve your goals effortlessly.</p>
    </div>
            
    <div class="flex-box">
      <h3>Stay Organized</h3>
      <hr>
      <p class="flex-p">Effortlessly organize your tasks into categories, prioritize them, 
        and track your progress. Stay on top of your commitments.</p>
    </div>
                
    <div class="flex-box">
      <h3>Get Started Today</h3>
      <hr>
      <p class="flex-p"> Witness the transformation! Become part of a success story as you 
        conquer tasks and achieve your goals.</p>
    </div>
  </div>
</section>   

<%- include("footer") -%>